p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', serif;
}

a {
    text-decoration: none;
}

.text {
    color: #4d648d;
    text-align: center;
}

body {
    margin: 0;
    background-color: #d0e1f9;
}


.navBar {
    width: 100%;
    height: 0.1em;
    position: absolute;
    top: 0;
    right: 0;
}

.navButton {
    float: right;
    background-color: none;
    border-style: solid;
    border-color: #4d648d;
    color: #4d648d;
    border-radius: 5px;
    height: 2em;
    padding: 0.5em;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navButton:hover {
    background-color: #4d648d;
    border-color: #4d648d;
    color: #ffffff;
}

.backButton {
    float: left;
    color: #4d648d;
    height: 2em;
    padding: 0.5em;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 1.5em;
    margin: 0 0 0 0.5em;
}

.arrow {
    font-size: 3em;
    color: #4d648d
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionTitle {
    width: 100%;
    height: 5em;
    position: absolute;
    top: 100vh;
    right: 0;
    text-align: center;
}

.sectionTitleTwo {
    width: 100%;
    height: 5em;
    position: absolute;
    top: 200vh;
    right: 0;
    text-align: center;
}

.card {
    background-color: #4d648d;
    /* animation: 1s ease-out 0s 1 slideInFromBottom; */
    border-radius: 1em;
    width: 70%;
    height: auto;
}

.cardContent {
    padding-top: 5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.portrait {
    border-radius: 50%;
    width: 9.5em;
    top: 0%;
    transform: translateY(50%);
}

.arrowDown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90vh;
    animation: bounce 2s infinite;
}

.footer {
    height: 20vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




@keyframes slideInFromBottom {
    0% { transform: translateY(100%); }
    100% { transform: translateX(0); }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-1em); } 
    60% { transform: translateY(-0.5em); } 
 } 